@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

a { text-decoration: none; }

h1 {
    color: #293241;
    padding: 50px 0 20px;
}

.container {
	font-size: 0;
	margin: auto;
	height: 600px;
	width: 600px;
	padding: 0;
    outline: 2px solid #000;
}

.btn {
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    background-color: #293241;
    margin: 20px;
    color: #FFFFFF;
}

.grid {
    display: inline-block;
    margin: 0;
	padding: 0;
	border: none;
	outline: 1px solid #000;
}

